{% extends "base.html" %}

{% load bootstrap3 %}
{% block content %}
<h1>Approve Request</h1>
<p>{{ the_request.secret.computer.computername }} ({{ the_request.secret.computer.serial }})</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'approve' the_request.id %}" method="post">{% csrf_token %}


            {% bootstrap_form form %}

        <p><button type="submit" class="btn primary btn-default">Save</button></p>

    </form>
{% endblock %}
