{% extends "server/computer_info.html" %}
{% block button %}
        {% if not perms.server.can_approve %}
            {% if can_request %}
            <a href="{% url 'request' computer.id %}" class="btn btn-large btn-info">Request Key</a>
            {% else %}
            <button class="btn btn-disabled btn-info">Request Pending</button>
            {% endif %}
            {% else %}
            <a href="{% url 'request' computer.id %}" class="btn btn-large btn-info">Get Key</a>
        {% endif %}
{% endblock %}