{% extends "base.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').dataTable({
            //"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            // "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            // "sPaginationType": "bootstrap",
            // "bStateSave": true,
             "aaSorting": [[3,'desc']]
        });
    } );
</script>

{% endblock %}

{% block dropdown %}
<li><a href="{% url 'server:new_computer' %}"><span class="glyphicon glyphicon-plus"></span> New computer</a></li>
{% endblock %}
{% block nav %}
{% if perms.server.can_approve %}
    <li><a href="{% url 'server:managerequests' %}">Approve requests</a></li>
{% endif %}
{% endblock %}
{% block content %}
{% if perms.server.can_approve %}
    {% if outstanding.count > 0 %}
    <div class="alert alert-info">
        You have outstanding requests to approve.
    </div>
    {% endif %}
{% endif %}




    <table class="groupList table table-striped table-condensed">
    <thead>
        <tr>
          <th>Serial Number</th>
          <th>Computer Name</th>
          <th>User Name</th>
          <th>Date Stored</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        {% for computer in computers.all %}
        <tr><td><a href="{% url 'server:computer_info' computer.id %}">{{ computer.serial }}</a></td><td><a href="{% url 'server:computer_info' computer.id %}">{{ computer.computername }}</a></td><td>{{ computer.username }}</td><td>{{ computer.last_checkin|date:"Y-m-d H:i:s" }}</td><td><a class="btn btn-info btn-xs" href="{% url 'server:computer_info' computer.id %}">Info</a></td></tr>
        {% endfor %}
        </tbody>
</table>

{% endblock %}
