{% extends "base.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').dataTable({
            //"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            // "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            // "sPaginationType": "bootstrap",
            // "bStateSave": true,
            // "aaSorting": [[1,'asc']]
        });
    } );
</script>

{% endblock %}

{% block nav %}
<li><a href="{% url 'server:computer_info' computer.id %}"><i class="glyphicon glyphicon-chevron-left"></i> Computer</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12">
    <h2>{{ computer.computername }}</h2>
    <h4>{{ computer.serial }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <tr><th>Username</th><td>{{ computer.username }}</td></tr>
            <tr><th>Computer Name</th><td>{{ computer.computername }}</td></tr>
            <tr><th>Serial Number</th><td>{{ computer.serial }}</td></tr>
            <tr><th>Secret Type</th><td>{{ secret.get_secret_type_display }}</td></tr>
            <tr><th>Escrow Date</th><td>{{ secret.date_escrowed }}</td></tr>
        </tbody>
        </table>
    </div>
    <div class="col-sm-4 col-md-4">
        {% block button %}
        {% endblock %}
    </div>
</div>

{% if perms.server.can_approve %}
<div class="row">
    <div class="col-sm-12 col-md-12">
    <h3>Requests</h3>
        <table class="table groupList">
        <thead>
        <tr><th>Requesting User</th>
        <th>Reason for Request</th>
        <th>Date Requested</th>
        <th>Approved By</th>
        <th>Approval Notes</th>
        <th>Date Approved</th>
        </tr></thead>
        <tbody>
            {% for the_request in requests %}
            <tr>

                <td>{{ the_request.requesting_user }}</td>
                <td>{{ the_request.reason_for_request }}</td>
                <td>{{ the_request.date_requested }}</td>
                <td>{{ the_request.auth_user }}</td>
                <td>{{ the_request.reason_for_approval }}</td>
                <td>{{ the_request.date_approved }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
        </div>

</div>
{% endif %}

{% endblock %}
