services:
  # Uncomment here if you want to use Caddy
  # caddy:
  #   image: "wemakeservices/caddy-docker:latest"
  #   volumes:
  #     - ./docker/Caddyfile:/etc/Caddyfile # to mount custom Caddyfile
  #   ports:
  #     - "80:80"
  #     # - "443:443" # uncomment this for https. Make sure you edit the Caddyfile above to reflect your hostname
  #   depends_on:
  #     - crypt
  #   restart: always

  crypt:
    image: macadmins/crypt-server
    # OR "crypt-server" for local build using documentation in /docs/Docker.md
    # build: . # uncomment this to build your own image through Docker Compose
    environment:
      - FIELD_ENCRYPTION_KEY=Og6yJ3Gdf-ROlUOkdxiS2d5Km_JGTDnfyJEXXQ15TY8= # please change this
      - ADMIN_PASS=password
      - DEBUG=false
    ports:
      - "8000:8000"
    volumes:
      - ${PWD}/crypt.db:/home/app/crypt/crypt.db # This will do a local database. For production you should use postgresql
      - ${PWD}/fvserver/settings.py:/home/app/crypt/fvserver/settings.py # Load in your own settings file
    restart: always
