{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}.</p>
        <p><input class='btn' type="button" value="Logout" onClick="document.location.href='/logout';"/></p>
    {% else %}
        {% if form.errors %}
            <p>Authentication failure. There is no more information. Goodbye.</p>
        {% else %}
            <h2>Please log in.</h2>
            <a class="btn btn-primary" href="{% url 'oidc_authentication_init' %}">Login through Okta</a>
        {% endif %}
    {% endif %}
{% endblock %}
