{{define "title"}}Login{{end}}

{{define "content"}}
{{if .User.IsAuthenticated}}
    <p>Welcome, {{.User.Username}}.</p>
    <p><input class='btn' type="button" value="Logout" onClick="document.location.href='/logout/';" /></p>
{{else}}
    <h2>Please log in.</h2>
    {{if .SAMLAvailable}}
      <p><a class="btn btn-primary" href="{{.SAMLLoginURL}}">Sign in with SAML</a></p>
      <hr />
    {{end}}
    <h3>Local login</h3>
    {{if .ErrorMessage}}
        <div class="alert alert-danger">{{.ErrorMessage}}</div>
    {{end}}
    <form method="post" action="/login/">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input id="username" name="username" type="text" /></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input id="password" name="password" type="password" /></td>
        </tr>
        </table>
        <input class='btn' type="submit" value="Log in" />
        <input type="hidden" name="next" value="/" />
    </form>
{{end}}
{{end}}
