{{define "title"}}New Secret{{end}}

{{define "content"}}
<div class="row">
    <div class="col-md-4">
        <h1>New Secret</h1>
        <h2>Computer: {{.Computer.ComputerName}}</h2>
        {{if .ErrorMessage}}<p><strong>{{.ErrorMessage}}</strong></p>{{end}}
        <form action="/new/secret/{{.Computer.ID}}/" method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            <div class="form-group">
                <label for="secret_type">Secret Type</label>
                <select class="form-control" id="secret_type" name="secret_type">
                    <option value="recovery_key">Recovery Key</option>
                    <option value="password">Password</option>
                    <option value="unlock_pin">Unlock PIN</option>
                </select>
            </div>
            <div class="form-group">
                <label for="secret">Secret</label>
                <textarea class="form-control" id="secret" name="secret" rows="4"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rotation_required" name="rotation_required" />
                <label class="form-check-label" for="rotation_required">Rotation required</label>
            </div>
            <p><button type="submit" class="btn btn-primary">Add new secret</button></p>
        </form>
    </div>
</div>
{{end}}
