{{define "title"}}Change Password{{end}}

{{define "content"}}
<div class="row">
  <div class="col-md-6">
    <h2>Change Password</h2>
    {{if .ErrorMessage}}
      <div class="alert alert-danger">{{.ErrorMessage}}</div>
    {{end}}
    <form method="post" action="{{if .PasswordChangeRequiresCurrent}}/password/change/{{else}}/password/reset/{{end}}">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      {{if .PasswordChangeRequiresCurrent}}
      <div class="form-group">
        <label for="current_password">Current password</label>
        <input id="current_password" name="current_password" type="password" class="form-control" />
      </div>
      {{end}}
      <div class="form-group">
        <label for="new_password">New password</label>
        <input id="new_password" name="new_password" type="password" class="form-control" />
      </div>
      <button class="btn btn-primary mt-3" type="submit">Update Password</button>
    </form>
  </div>
</div>
{{end}}
