{{define "title"}}Retrieve Secret{{end}}

{{define "script"}}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').dataTable({
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]]
        });
    } );
</script>
{{end}}

{{define "nav"}}
<li class="nav-item"><a class="nav-link" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Home</a></li>
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2>{{.Computer.ComputerName}}</h2>
        <h4>{{.Computer.Serial}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <p><strong>{{.Secret.SecretTypeDisplay}}:</strong><br />
        <code>{{range .SecretChars}}<span class="{{.Class}}">{{.Char}}</span>{{end}}</code>
        </p>

        <p>This approval is valid for 7 days, after which you will need to submit another request for access.</p>
    </div>
</div>
{{end}}
