{{define "title"}}Secret Info{{end}}

{{define "script"}}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.groupList').dataTable({
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]]
        });
    } );
</script>
{{end}}

{{define "nav"}}
<li class="nav-item"><a class="nav-link" href="/info/{{.Computer.ID}}/"><i class="glyphicon glyphicon-chevron-left"></i> Computer</a></li>
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-sm-12 col-md-12">
    <h2>{{.Computer.ComputerName}}</h2>
    <h4>{{.Computer.Serial}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <tr><th>Username</th><td>{{.Computer.Username}}</td></tr>
            <tr><th>Computer Name</th><td>{{.Computer.ComputerName}}</td></tr>
            <tr><th>Serial Number</th><td>{{.Computer.Serial}}</td></tr>
            <tr><th>Secret Type</th><td>{{.Secret.SecretTypeDisplay}}</td></tr>
            <tr><th>Escrow Date</th><td>{{.Secret.DateEscrowedFormatted}}</td></tr>
        </tbody>
        </table>
    </div>
    <div class="col-sm-4 col-md-4">
        {{if .User.CanApprove}}
            {{if .RequestApproved}}
                <a href="/retrieve/{{.ApprovedRequestID}}/" class="btn btn-success btn-lg">Retrieve Key</a>
            {{else}}
                <a href="/request/{{.Secret.ID}}/" class="btn btn-large btn-info">Get Key</a>
            {{end}}
        {{else}}
            {{if .CanRequest}}
                <a href="/request/{{.Secret.ID}}/" class="btn btn-large btn-info">Request Key</a>
            {{else}}
                <button class="btn btn-disabled btn-info">Request Pending</button>
            {{end}}
        {{end}}
    </div>
</div>

{{if .User.CanApprove}}
<div class="row">
    <div class="col-sm-12 col-md-12">
    <h3>Requests</h3>
        <table class="table groupList">
        <thead>
        <tr><th>Requesting User</th>
        <th>Reason for Request</th>
        <th>Date Requested</th>
        <th>Approved By</th>
        <th>Approval Notes</th>
        <th>Date Approved</th>
        </tr></thead>
        <tbody>
            {{range .RequestsForSecret}}
            <tr>
                <td>{{.RequestingUser}}</td>
                <td>{{.ReasonForRequest}}</td>
                <td>{{.DateRequestedFormatted}}</td>
                <td>{{.AuthUser}}</td>
                <td>{{.ReasonForApproval}}</td>
                <td>{{.DateApprovedFormatted}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
        </div>
</div>
{{end}}
{{end}}
