{% load i18n %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Crypt{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
  {# Load CSS and JavaScript #}
  <link rel="stylesheet"
  href='{{ STATIC_URL }}dataTables/css/dataTables.bootstrap4.css'
  type="text/css" media="all" />
  <link rel="stylesheet"
  href='{{ STATIC_URL }}bootstrap/css/bootstrap.min.css'
  type="text/css" media="all" />
{% bootstrap_javascript jquery='full' %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!--link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"-->
<link href="{{ STATIC_URL }}style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- DataTables JavaScript -->
        <script src="{{ STATIC_URL }}dataTables/js/jquery.dataTables.min.js"></script>
        <script src="{{ STATIC_URL }}dataTables/js/dataTables.bootstrap4.min.js"></script>
  </head>

  <body>


      <div class="container">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'server:home' %}">Crypt</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse pull-xs-right" id="navbarColor01">
                <ul class="navbar-nav ml-auto pull-xs-right">
                {% block nav %}
                {% endblock %}
                  {% if user.is_authenticated %}

                          <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" id="dLabel" data-toggle="dropdown" data-target="#" href="#">
                          {{ user.username }}
                          <b class="caret"></b>
                          </a>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                  {% block dropdown %}

                                  {% endblock %}

                                  {% if user.has_usable_password %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}"><i class="fa fa-user fa-fw"></i> {% trans "Change password" %}</a>
                                    </li>
                                    {% endif %}
                                {% if user.is_staff %}
                                  <li class="nav-item"><a class="nav-link" href="/admin/">Administration</a></li>
                                 {% endif %}
                                  <li class="nav-item"><a class="nav-link" href="/logout/">Log out</a></li>
                              </ul>
                          </li>

                          {% endif %}
                </ul>
              </div>
            </nav>

        {% block content %}

        {% endblock %}

        <div class="row"><div class="col-md-12"><p class="float-right">Crypt Server version {{ CRYPT_VERSION }}</p></div></div>

      </div><!-- /.container -->

{% block script %}
{% endblock%}
  </body>
</html>
