Django==1.10.0
docutils==0.11
wsgiref==0.1.2
git+https://github.com/django-extensions/django-extensions@243abe93451c3b53a5f562023afcd809b79c9b7f
six==1.9.0
pyasn1==0.1.8
pycrypto==2.6.1
python-keyczar==0.715
django-bootstrap3==7.0.1
